
.btn-load_more{
  background: white;
  border: 2px solid green;
  padding: 10px 20px;
  margin: 10px auto;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

.products{
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem 1.2rem;
  justify-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noText {
  display: flex;
  align-items: center;
  justify-content: center;
}
